<input type="text" [(ngModel)]="title" name="" id="">
{{ title }}
<div *ngIf="title === 'Hector'">
  Este es un div
</div>

<div [ngSwitch]="title">
  <div *ngSwitchCase="'Hector'">Div Hector</div>
  <div *ngSwitchCase="'Roa'">Div Roa</div>
  <div *ngSwitchDefault>Div Default</div>
</div>

<button (click)="agregarItem()">Agregar Item</button>

<ul>
  <li *ngIf="items.length == 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="eliminarItem(i)">Eliminar</button>
  </li>
</ul>

<div class="product-grid">
  <app-producto *ngFor="let producto of productos" (agregadoCarrito)="agregadoCarrito($event)" [producto]="producto"></app-producto>
</div>